City = [‘Gurgaon’, ’Mumbai’, ’Bangalore]

i) Print the second item from the list.

ii) Change the value from "Gurgaon" to "Kerala"

iii) Remove the last element of the list.

In [1]:
City = ['Gurgaon', 'Mumbai', 'Bangalore']
#i) Print the second item from the list.
print('Second item from the list : ',City[1])
#ii) Change the value from "Gurgaon" to "Kerala"
City[0] = 'Kerala'
print('Change the value from "Gurgaon" to "Kerala" : ',City)
#iii) Remove the last element of the list.
print('Remove the last element of the list : ',City.pop())
print('The updated list : ', City)

Second item from the list :  Mumbai
Change the value from "Gurgaon" to "Kerala" :  ['Kerala', 'Mumbai', 'Bangalore']
Remove the last element of the list :  Bangalore
The updated list :  ['Kerala', 'Mumbai']

Use negative indexing to print the last item in the list. Make a list by yourself.

In [3]:
City2 = ['Gurgaon', 'Mumbai', 'Bangalore', 'Delhi', 'Mysore']
#use negative indexing to print the last item in the list
print("The last item in the list fetchng By Negative index : ", City2[-1])

The last item in the list fetchng By Negative index :  Mysore

Use a range of indexes to print the third, fourth, and fifth item in the list. Make a list by yourself.

In [4]:
City3 = ['Gurgaon', 'Mumbai', 'Bangalore', 'Delhi', 'Mysore', 'Kochi', 'Goa' ]
print("Printing third,fourth,fifth items from the list : ", City3[2:5])

Printing third,fourth,fifth items from the list :  ['Bangalore', 'Delhi', 'Mysore']

Remove the last element from the city list

In [5]:
City = ['Gurgaon', 'Mumbai', 'Bangalore']
#Remove the last element of the list.
print('Remove the last element of the list : ',City.pop())
print('The updated list : ', City)

Remove the last element of the list :  Bangalore
The updated list :  ['Gurgaon', 'Mumbai']

fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]

i) Add "orange" at the end of the above list.

ii) Add "lemon" as the second item in the fruits list

In [6]:
Fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']
#i) Add "orange" at the end of the above list.
Fruits.append("orange")
print('Add "orange" at the end of the above list : ', Fruits)
#ii) Add "lemon" as the second item in the fruits list
Fruits.insert(1,"Lemon")
print('Add "Lemon" as the second item in the fruits list : ',Fruits)

Add "orange" at the end of the above list :  ['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
Add "Lemon" as the second item in the fruits list :  ['apple', 'Lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

Remove ‘cherry’ from the fruit list given above.

In [9]:
Fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']
#Remove ‘cherry’ from the fruit list
Fruits.remove('cherry')
print('Removed ‘cherry’ from the fruit list : ', Fruits)

Removed ‘cherry’ from the fruit list :  ['apple', 'lichi', 'guava', 'mango', 'watermelon', 'banana']

Write the python program to let the user input a list of numbers and print the list in descending order.

In [10]:
# using map fun to map each user entry to list
UserNumbers = list(map(int,input("enter numbers with space : ").split()))
#sort the list in decending order
UserNumbers.sort(reverse = True)
print('sorted list in decending order : ',UserNumbers)

enter numbers with space : 4 55 4 3
sorted list in decending order :  [55, 4, 4, 3]

Write a python program to let the user input two lists and combine both the lists

In [12]:
# list1
List1 = list(input("List1 : "))
print(List1)
#List2
List2 = list(input('List2 : '))
print(List2)
# combine two lists
List3 = List1+List2
print('Combined list :', List3)

List1 : 2,5,4,3,3
['2', ',', '5', ',', '4', ',', '3', ',', '3']
List2 : 5,,7,6,5,5,4
['5', ',', ',', '7', ',', '6', ',', '5', ',', '5', ',', '4']
Combined list : ['2', ',', '5', ',', '4', ',', '3', ',', '3', '5', ',', ',', '7', ',', '6', ',', '5', ',', '5', ',', '4']

list = [10, 45, 87, 98]. Shuffle the list

In [13]:
import random
list1 = [10, 45, 87, 98]
list_shuffled = random.shuffle(list1)
print('list shuffled : ', list1)

list shuffled :  [45, 87, 10, 98]

x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

i) What is the expression that returns the 'z' in 'baz'?

ii) What expression returns the list ['baz', 2.718]?

In [14]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
print(x[1])
print(x[1][2])
print(x[1][2][1])
print(x[1][2][1][2])

print(x[1][2][1:])

[3.141, 20, [30, 'baz', 2.718]]
[30, 'baz', 2.718]
baz
z
['baz', 2.718]

Extract element 20 from the above list.

In [15]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
print(x[1][1])

20


You have a list a = [1, 2, 7, 8]

Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
a = [1, 2, 7, 8]
a[1:5] = [3,4,5,6]
print(a)

[1, 3, 4, 5, 6]