### Write a Python program to add an item in a tuple

In [1]:
tupl = (2,3,4,5,5)
print("Tuple before adding an item ", tupl)

tuple1 = tupl + (9,)
print("Tuple after adding an item ", tuple1)

Tuple before adding an item  (2, 3, 4, 5, 5)
Tuple after adding an item  (2, 3, 4, 5, 5, 9)

### Write a python program to reverse a tuple

In [5]:
tupl = (2,3,4,5)
revtup = reversed(tupl)
print(tuple(revtup))

(5, 4, 3, 2)

### Swap the following two tuples

In [7]:
tuple1 = (11,22)
tuple2 = (99, 77)

print("Tuple1 before swap", tuple1)
print("Tuple2 before swap", tuple2)

tuple_temp = tuple1
tuple1 = tuple2
tuple2 = tuple_temp

print("Tuple1 after swap", tuple1)
print("Tuple2 after swap", tuple2)

Tuple1 before swap (11, 22)
Tuple2 before swap (99, 77)
Tuple1 after swap (99, 77)
Tuple2 after swap (11, 22)

### Modify the item (22) of a list inside a following tuple to 222

In [8]:
tuple1 = (11, [22, 23], 44, 67)

tuple1[1][0] = 222
print("Updated list values in the tuple", tuple1)

Updated list values in the tuple (11, [222, 23], 44, 67)

### Write a python program to unpack a tuple in several variables

In [11]:
tuple1 = (1,2,3,4,5,0)
a,b,c,d,e,f = tuple1
print('a: {}\nb: {}\nc: {}\nd: {}\ne: {}\nf: {} '.format(a,b,c,d,e,f))

a: 1
b: 2
c: 3
d: 4
e: 5
f: 0

### Write a python program to add numbers in an empty set

In [12]:
set1 = set()
set1.add(2)
set1.add(3)
set1.update([4,5])
print(set1)

{2, 3, 4, 5}

### Write a python program to create an instersection of sets

In [14]:
set1 = set([2,3,4,5,6,7])
set2 = set([3,7,8,9,5,4])
inter = set1.intersection(set2)
print("set1 ", set1)
print("set2", set2)
print("Intersection of set 1 and set 2", inter)

set1  {2, 3, 4, 5, 6, 7}
set2 {3, 4, 5, 7, 8, 9}
Intersection of set 1 and set 2 {3, 4, 5, 7}

### Write a python program to create a symmetric difference (or disjunctive union) in sets

In [15]:
set1 = set(["Red", "Blue", "White"])
set2 = set(["Blue", "Green", "Yellow"])
print("Set1", set1)
print("Set2", set2)
sym = set1.symmetric_difference(set2)
print("Symmetric difference is ", sym)

Set1 {'Red', 'White', 'Blue'}
Set2 {'Blue', 'Green', 'Yellow'}
Symmetric difference is  {'Yellow', 'White', 'Green', 'Red'}

### Return a set of identical items from a given two python set

In [16]:
set1 = set([10, 20, 30, 40, 50])
set2 = set([30, 40, 50, 60, 70])
print('Set1', set1)
print('Set2', set2)
inter = set1.intersection(set2)
print("Identical items of bothe the sets are : ", inter)

Set1 {40, 10, 50, 20, 30}
Set2 {70, 40, 50, 60, 30}
Identical items of bothe the sets are :  {40, 50, 30}

### Remove 10, 20, 30 elements from a following set at once

In [18]:
set1 = set([10, 20, 30, 40, 50])
set2 = set([10, 20, 30])
print('set1 : ',set1)
print('set2- items to be deleted', set2)
dif_sets = set1-set2
print('Removed elements 10, 20, 30 from set1 ', dif_sets)

set1 :  {40, 10, 50, 20, 30}
set2- items to be deleted {10, 20, 30}
Removed elements 10, 20, 30 from set1  {40, 50}

In [19]:
set1.difference_update(set2)
print('Difference updated', set1)

Difference updated {40, 50}

### Access value 20 from the following tuple

In [20]:
tuple1 = ("Syeeda", [10,20,30], (5, 10, 15, 20))
print("Accessing the value 20 from tuple1 ",tuple1[1][1])

Accessing the value 20 from tuple1  20

### Count the number of occurrences of item 50 from a tuple

In [21]:
numbers= (50,50,60,50,70,50,80,50,90)
print("tuple : ", numbers)
print("Occurrences of item 50 in tuple ", numbers.count(50))

tuple :  (50, 50, 60, 50, 70, 50, 80, 50, 90)
Occurrences of item 50 in tuple  5